#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SUIT_ZCBOR_NONCANONICAL
	bool "ZCBOR extensions to decode noncanonical maps and byte strings"
	depends on ZCBOR
